/***
GRAIGHILLS INTEGRATED SERVICES LIMITED (GIS)
8th September, 2024
All rights reserved.
Stylesheets for single paged website
Developer | Michael Otote CEO OTOTECH INDUSTRIES

***/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
 
html{
 -webkit-touch-callout: none;
 -webkit-text-size-adjust: none;
 -webkit-tap-highlight-color: rgba(0,0,0,0);


}
html,body{
    scroll-behavior: smooth;
    scrollbar-width: thin; /* Makes the scrollbar thin */
    scrollbar-color: #AA9123 #f1f1f1; /* thumb and track colors */
  
}
:root {
    --primary: #AA9123;
    --secondary: #2e3135;
    --light: #F8F9FA;
    --dark: #182333;
    --variant:#CCAD2B;
}
.custom-icon {
    font-size: 1.5rem; /* Adjust this value to make icons bigger */
}
p, ol, ul, span{
    color: var(--secondary);
}
a:active{
    color: var(--primary);
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
nav{
    opacity: 0.93;
}
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin-left: 30px;
    padding: 20px 0;
    color: var(--secondary);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}


.page-header {
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Facts ***/
.facts-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, .65);
}

.facts-overlay h1 {
    font-size: 120px;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary);
}

.facts-overlay a:hover {
    color: var(--primary) !important;
}
  /* Default for larger screens (desktop) */
  #responsive-box {
    width: 250px; /* Desktop size */
    height: 250px; /* Desktop size */
  }
  
  #responsive-content h1 {
    font-size: 40px; /* Large number size */
  }
  
  #responsive-content h2 {
    font-size: 24px; /* Large "Years" text */
  }
  
  #responsive-content h5 {
    font-size: 18px; /* Large "Experience" text */
  }
  


/*** Service ***/
.service-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: var(--primary);
    opacity: 0;
    transition: .5s;
}

.service-item:hover .service-text::before {
    height: 100%;
    opacity: 1;
}

.service-text * {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.service-item:hover .service-text * {
    color: #FFFFFF !important;
}


/*** Appointment ***/
.appointment {
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
}


/*** Team ***/
.team-text {
    position: absolute;
    width: 75%;
    bottom: 30px;
    left: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    width: 100%;
}

.team-text * {
    transition: .5s;
}

.team-item:hover .team-text * {
    letter-spacing: 2px;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Footer ***/
.footer {
    color: #999999;
}
.footer-text{
    color: white;
}
#footer-text{
    color: white;
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #999999;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #999999;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}


/**mobile and devices responsiveness**/

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 25px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: start;
    background: rgba(0, 0, 0, .65);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    background-color: var(--dark);
    border: 15px solid var(--dark);
    border-radius: 50px;
}

.carousel-caption .breadcrumb-item+.breadcrumb-item::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 85vh;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #header-carousel h1{
        font-size: 25px;
    }
    #header-carousel ol>li{
        font-size: 9px;
    }
      /* Reduce the size of the box */
    #responsive-box {
        width: 120px;  /* Smaller width */
        height: 50vh; /* Smaller height */
      }
      
      /* Reduce the padding and font size of the content */
      #responsive-content {
        padding: 0.5rem; /* Reduce padding */
      }
  
      #responsive-content h1 {
        font-size: 20px; /* Smaller number size */
      }
      
      #responsive-content h2 {
        font-size: 16px; /* Smaller "Years" text */
      }
      
      #responsive-content h5 {
        font-size: 13px; /* Smaller "Experience" text */
      }
    
    

}
@media (max-width: 576px) {
     /* Further reduce the size of the box for smaller screens */
     #responsive-box {
        width: 90px;  /* Even smaller width */
        height: 50vh; /* Even smaller height */
      }
  
      /* Further reduce padding */
      #responsive-content {
        padding: 0.5rem;
      }
  
      /* Further reduce font sizes */
      #responsive-content h1 {
        font-size: 18px;  /* Even smaller number size */
      }
      
      #responsive-content h2 {
        font-size: 15px;  /* Even smaller "Years" text */
      }
      
      #responsive-content h5 {
        font-size: 12px;  /* Even smaller "Experience" text */
      }
  }